{{#if addNewQuestion}}
  <h1>How can we Queen you?</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title: </label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="user">Alias: </label>
        {{input value=user id="user"}}
      </div>

      <div class="form-group">
        <label for="city">City: </label>
        {{input value=city id="city"}}
      </div>

      <div class="form-group">
        <label for="question">Question?: </label>
        {{input value=question id="question"}}
      </div>

      <button {{action 'saveQuestion1'}}>Save</button>
      <button {{action 'deleteQuestion'}}>Delete</button>

    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}}>Question?</button>
{{/if}}
