<li>
  <h1>{{question.title}}</h1>
  {{question.user}}
  {{question.question}}
  <!-- {{update-question question=question update="update"}} -->
  {{#link-to 'question' question.id}}Show More{{/link-to}}
</li>
<li>username: {{question.user}}</li>

<button {{action 'delete' rental}}>Delete Post</button>
