<ul>
  <h1>{{question.title}}</h1>
  <li>username: {{question.user}}</li>
  <li>{{question.question}}</li>
  <!-- {{update-question question=question update="update"}} -->
  {{#link-to 'question' question.id}}Show More{{/link-to}}
</ul>

<button {{action 'delete' question}}>Delete Post</button>
