<ul>
  <h1>{{question.title}}</h1>
  <h2>username: {{question.user}}</h2>
  <li>Q: {{question.question}}</li>
  <!-- {{update-question question=question update="update"}} -->
  {{#link-to 'question' question.id}}Show More{{/link-to}}
</ul>

<button {{action 'delete' question}}>Delete Post</button>
