<header class="jumbotron">
  <h1>code&#x2654;queens</h1>
</header>

<hr>
<h2>tell us your problem and a queen will grant your solution..</h2>
<hr>

<div>
<ul>
  {{#each model as |question|}}
    <li><h1>{{question.title}}</h1></li>
    <li>{{question.question}}</li>
    <!-- <li><img src="{{question.image}}" alt="Image" width="400px"></li> -->
    {{question-tile question=question update="update"}}
  {{/each}}
</ul>
{{new-question saveQuestion2="saveQuestion3"}}
</div>

{{#link-to 'contact'}}Contact Us{{/link-to}}
