<h2>tell us your problem and a queen will grant your solution..</h2>
<hr>
<div class="container">
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

<ul>
{{#each model.answers as |answer|}}
  <li>{{answer.response}} - {{answer.rating}} - by {{answer.author}}</li>
{{/each}}
</ul>

{{new-response saveResponse="saveResponse"}}


{{new-question saveQuestion2="saveQuestion3" destroyQuestion="destroyQuestion"}}
</div>
