<header class="jumbotron">
  <h1>code&#x2654;queens</h1>
</header>

<div>
<ul>
  {{#each model.question as |question|}}
    <li><h1>{{model.title}}</h1></li>
    <li>{{model.question}}</li>
    <li><img src="{{model.image}}" alt="Image" width="400px"></li>
    <!-- {{question-tile question=question update="update"}} -->
  {{/each}}
    <!-- {{question-detail question=question update="update"}} -->
</ul>
</div>
