  <ul>
    <li><h1>{{model.title}}</h1></li>
    <h2>username: {{model.user}}</h2>
    <li><img src="{{model.image}}" alt="img" width="250px"></li>
  </ul>
  <div class="content">
    Q: {{model.question}}
    <hr>
    A: {{model.answer}}
    <br>

  {{question-detail question=model destroyQuestion="destroyQuestion"}}

  {{update-question question=model update="update"}}

  {{new-response saveResponse="saveResponse" question=model}}

</div>
