<header class="jumbotron">
  <h1>code&#x2654;queens</h1>
</header>

  <ul>
    <li><h1>{{model.title}}</h1></li>
    <li>Published By: {{model.user}}</li>
    <li><img src="{{model.image}}" alt="img" width="400px"></li>
  </ul>
  <div class="content">
    Q: {{model.question}}
    <hr>
    A: {{model.answer}}

  <button {{action 'delete' question}}>Delete Post</button>

  <!-- {{question-detail destroyQuestion="destroyQuestion" destroyReview="destroyReview"}} -->

  <!-- {{new-review saveReview="saveReview" entry=model}} -->

</div>
